Repository rust-lang/miri, pull requests merged in 2020-05, with the labels that each got.

#1298 Check that shims are called with the correct number of arguments
  src/helpers.rs
  src/lib.rs
  src/shims/dlsym.rs
  src/shims/foreign_items.rs
  src/shims/foreign_items/posix.rs
  src/shims/foreign_items/posix/linux.rs
  src/shims/foreign_items/posix/macos.rs
  src/shims/foreign_items/windows.rs
  src/shims/fs.rs
  src/shims/intrinsics.rs
  src/shims/mod.rs
  src/shims/panic.rs
  src/shims/thread.rs
  tests/compile-fail/check_arg_count_too_few_args.rs
  tests/compile-fail/check_arg_count_too_many_args.rs
Labels: S-waiting-on-author

#1374 InvalidUndefBytes: Update to match rustc changes
  rust-version
  src/diagnostics.rs
  tests/compile-fail/uninit_buffer.rs
Labels: S-waiting-on-rust

#1412 Remove pointer arithmetic intrinsics
  rust-version
  src/operator.rs
  src/shims/intrinsics.rs
  tests/compile-fail/rc_as_ptr.rs
  tests/run-pass/rc.rs
Labels: S-blocked-on-rust
