Repository rust-lang/miri, pull requests merged in 2020-04, with the labels that each got.

#1283 Make backtrace function names and spans match up
  rust-version
  src/diagnostics.rs
  src/helpers.rs
  src/machine.rs
  src/shims/intrinsics.rs
  src/shims/panic.rs
  tests/compile-fail/never_transmute_void.rs
Labels: S-waiting-on-rust

#1253 test Vec::extend
  rust-version
  tests/run-pass/float.rs
  tests/run-pass/vec.rs
Labels: S-blocked

#1157 Add shims for RwLock::try_read/RwLock::try_write
  src/diagnostics.rs
  src/eval.rs
  src/lib.rs
  src/machine.rs
  src/shims/foreign_items/posix.rs
  src/shims/foreign_items/posix/linux.rs
  src/shims/foreign_items/posix/macos.rs
  src/shims/foreign_items/windows.rs
  src/shims/mod.rs
  src/shims/sync.rs
  tests/compile-fail/libc_pthread_mutex_destroy_locked.rs
  tests/compile-fail/libc_pthread_mutex_normal_deadlock.rs
  tests/compile-fail/libc_pthread_mutex_normal_unlock_unlocked.rs
  tests/compile-fail/libc_pthread_rwlock_destroy_read_locked.rs
  tests/compile-fail/libc_pthread_rwlock_destroy_write_locked.rs
  tests/compile-fail/libc_pthread_rwlock_read_write_deadlock.rs
  tests/compile-fail/libc_pthread_rwlock_unlock_unlocked.rs
  tests/compile-fail/libc_pthread_rwlock_write_read_deadlock.rs
  tests/compile-fail/libc_pthread_rwlock_write_write_deadlock.rs
  tests/run-pass/libc.rs
  tests/run-pass/reentrant-println.rs
  tests/run-pass/reentrant-println.stdout
  tests/run-pass/sync.rs
Labels: S-waiting-on-author

#1301 memory reachable through globals is not a leak
  rust-version
  src/machine.rs
  tests/compile-fail/stack_free.rs
  tests/run-pass/leak-in-static.rs
  tests/run-pass/panic/catch_panic.rs
Labels: S-waiting-on-rust

#1332 Add option to disable alignment check
  README.md
  rust-version
  src/bin/miri.rs
  src/diagnostics.rs
  src/eval.rs
  src/machine.rs
  tests/compile-fail/unaligned_pointers/alignment.rs
  tests/compile-fail/unaligned_pointers/intptrcast_alignment_check.rs
  tests/run-pass/disable-alignment-check.rs
Labels: S-waiting-on-rust

#1330 retag return place
  rust-version
  src/machine.rs
  src/stacked_borrows.rs
Labels: S-waiting-on-rust

#1335 Move the stack to the evaluator. (no-op PR for 70598)
  rust-version
  src/diagnostics.rs
  src/eval.rs
  src/helpers.rs
  src/intptrcast.rs
  src/machine.rs
  src/shims/dlsym.rs
  src/shims/env.rs
  src/shims/foreign_items.rs
  src/shims/foreign_items/posix.rs
  src/shims/foreign_items/posix/linux.rs
  src/shims/foreign_items/posix/macos.rs
  src/shims/foreign_items/windows.rs
  src/shims/fs.rs
  src/shims/intrinsics.rs
  src/shims/mod.rs
  src/shims/os_str.rs
  src/shims/panic.rs
  src/shims/time.rs
  src/shims/tls.rs
  src/stacked_borrows.rs
  test-cargo-miri/build.rs
  tests/compile-fail/rc_as_ptr.rs
Labels: S-waiting-on-rust

#1348 Stacked Borrows: alignment does not matter
  rust-version
  src/eval.rs
  src/stacked_borrows.rs
  tests/run-pass/packed_struct.rs
Labels: S-waiting-on-rust
